In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Hardy,CA,2021-02-03 23:59:50,50.6996,-127.4199,41.00,87,90,3.44
1,1,Sao Sebastiao Do Paraiso,BR,2021-02-04 00:03:00,-20.9169,-46.9914,67.53,89,53,1.34
2,2,Ilulissat,GL,2021-02-04 00:03:54,69.2167,-51.1000,-5.80,41,6,10.36
3,3,Belmonte,BR,2021-02-04 00:04:24,-15.8631,-38.8828,78.80,78,40,8.05
4,4,Ushuaia,AR,2021-02-04 00:00:41,-54.8000,-68.3000,51.80,66,75,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature and removed Negative numbers to prevent error
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Belmonte,BR,2021-02-04 00:04:24,-15.8631,-38.8828,78.80,78,40,8.05
7,7,Bathsheba,BB,2021-02-04 00:04:24,13.2167,-59.5167,78.80,69,20,24.16
11,11,Rikitea,PF,2021-02-04 00:04:25,-23.1203,-134.9692,78.28,71,0,13.11
12,12,Hithadhoo,MV,2021-02-04 00:04:25,-0.6000,73.0833,82.67,73,97,9.19
15,15,Puerto Ayora,EC,2021-02-04 00:04:25,-0.7393,-90.3518,78.01,92,21,1.99
24,24,Vaini,TO,2021-02-04 00:04:29,-21.2000,-175.2000,82.40,89,75,9.22
27,27,Butaritari,KI,2021-02-04 00:04:21,3.0707,172.7902,81.68,83,71,16.35
30,30,Arraial Do Cabo,BR,2021-02-04 00:04:29,-22.9661,-42.0278,77.23,84,0,22.64
31,31,Carnarvon,AU,2021-02-04 00:03:04,-24.8667,113.6333,78.80,90,90,25.32
40,40,Banjar,ID,2021-02-04 00:04:31,-8.1900,114.9675,78.80,89,40,1.14

In [11]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3          Belmonte      BR     78.80 -15.8631  -38.8828
7         Bathsheba      BB     78.80  13.2167  -59.5167
11          Rikitea      PF     78.28 -23.1203 -134.9692
12        Hithadhoo      MV     82.67  -0.6000   73.0833
15     Puerto Ayora      EC     78.01  -0.7393  -90.3518
24            Vaini      TO     82.40 -21.2000 -175.2000
27       Butaritari      KI     81.68   3.0707  172.7902
30  Arraial Do Cabo      BR     77.23 -22.9661  -42.0278
31        Carnarvon      AU     78.80 -24.8667  113.6333
40           Banjar      ID     78.80  -8.1900  114.9675

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [20]:
hotel_df.dropna()

                  City Country  Max Temp      Lat       Lng       Hotel Name
3             Belmonte      BR     78.80 -15.8631  -38.8828
7            Bathsheba      BB     78.80  13.2167  -59.5167
11             Rikitea      PF     78.28 -23.1203 -134.9692
12           Hithadhoo      MV     82.67  -0.6000   73.0833
15        Puerto Ayora      EC     78.01  -0.7393  -90.3518
..                 ...     ...       ...      ...       ...              ...
528           Ngunguru      NZ     78.01 -35.6167  174.5000
532     Campo Do Brito      BR     80.60 -10.7333  -37.4933
537            Sibolga      ID     75.52   1.7427   98.7792
542           Meulaboh      ID     75.72   4.1363   96.1285
545  Bahia De Caraquez      EC     78.80  -0.6000  -80.4167  La Piedra Hotel

[154 rows x 6 columns]

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))